.text-nowrap > thead > tr > th >a{
    color:  black !important;
}
.text-nowrap > thead > tr > th{
    text-align: center !important;
    color:  black !important;
}
.text-nowrap > tbody > tr > td{
    text-align: center !important;
    color:  black !important;
}
.text-nowrap > tbody > tr > td > a > svg{
    color: black;
}
.card-body{
    display: flex;
    flex-wrap: wrap !important;
}
.bread{
    display: flex;
    justify-content: end;
}
.prodForm{
    display: flex !important;
    flex-wrap: wrap !important;
}
.text-nowrap > tbody > tr > td > img{
    width: 50px !important;
    height: auto !important;
}
.filter{
    display: flex;
    flex-wrap: wrap;
}
/*.category{*/
/*    margin: 0px 20px;*/
/*}*/
.end_date{
    margin: 0px 20px;
}
.productImg{
    width: 30px;
    height: auto;
}
.productCountImg{
    width: 30px;
    height: auto;
}
.printicon{
    /*background-color: lavenderblush;*/
    margin-left: 45px;
    cursor: pointer;
}
.fs-search-block {
    width: -webkit-fill-available;
    height: 4.6rem;
    position: relative;
    margin-left: 10px;
}
.fs-search-result-wrapper {
    display: none;
    pointer-events: auto;
}
.activ {
    margin: 5px;
    display: block;
    width: 395px;
}
.fs-search-result-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    background-color: #EBF7F5;
    -webkit-box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
    box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
    max-height: 20rem;
    position: relative;
    z-index: 2;
    text-shadow: 1px 2px #fff, 0 0 1em #a1fac5, 0 0 0.2em #669768;
    overflow: scroll;
}
.fs-search-result-column {
    width: 100%;
    border-right: black !important;
}
.h4_product {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 26px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 27px;
}
.h4_category {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 26px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 27px;
}
.fs-search-result-column-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.fs-search-result-column-list-el {
    width: 100%;
    /* height: 4.6rem; */
    padding-left: 1.6rem;
    /* padding-right: 1.6rem; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1.1em;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.fs-search-result-column-list-el a {
    text-decoration: none !important;
    color: #4A4640;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.orders_header{
    text-align: center;
    font-size: 1.5em;
}
.order_items_table > thead > tr > th{
    text-align: center;
}
.order_items_table > tbody > tr > td{
    text-align: center;


/* search form css */
.for-search form {

    width: 40px;
    height: 45px;
    position: relative;
    margin-left: 15px;
}

#submit {
    display: none;
}

.for-search form .icon, form .submit {
    width: 35px;
    height: 35px;
    background: #4e73df;
    display: block;
    margin: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.for-search form .icon:hover, form .submit:hover {
    background: #264ac9;
    opacity: 1;
}

.for-search form .submit {
    background: #264ac9;
    cursor: pointer;
}

.for-search form .icon:after, form .submit:after  {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 50%;
    left: 10px;
    top: 9px;
}

.for-search form .icon:before, form .submit:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 2px;
    background: white;
    transform: rotate(-35deg);
    top: 19px;
    left: 21px;
}

.for-search form #search {
    background-color: #EBF7E9;
    -webkit-appearance: none;
    height: 35px;
    width: 360px !important;
    position: absolute;
    padding: 0;
    opacity: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 15px;
    left: 25px;

}