.text-nowrap > thead > tr > th >a{
    color:  black !important;
}
.text-nowrap > thead > tr > th{
    text-align: center !important;
    color:  black !important;
}
.text-nowrap > tbody > tr > td{
    text-align: center !important;
    color:  black !important;
}
.text-nowrap > tbody > tr > td > a > svg{
    color: black;
}
.card-body{
    display: flex;
    flex-wrap: wrap !important;
}
.bread{
    display: flex;
    justify-content: end;
}
.prodForm{
    display: flex !important;
    flex-wrap: wrap !important;
}
.text-nowrap > tbody > tr > td > img{
    width: 50px !important;
    height: auto !important;
}
.filter{
    display: flex;
    flex-wrap: wrap;
}
/*.category{*/
/*    margin: 0px 20px;*/
/*}*/
.end_date{
    margin: 0px 20px;
}
.productImg{
    width: 30px;
    height: auto;
}
.productCountImg{
    width: 30px;
    height: auto;
}
.printicon{
    /*background-color: lavenderblush;*/
    margin-left: 45px;
    cursor: pointer;
}
.fs-search-block {
    width: 100%;
    height: 4.6rem;
    position: relative;
    margin-left: 10px;
}
.fs-search-result-wrapper {
    display: none;
    pointer-events: auto;
}
.activ {
    margin: 5px;
    display: block;
    width: 395px;
}
.activeMenu{
    margin: 5px;
    display: block;
    /*width: 30%;*/
}
.fs-search-result-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    background-color: #EBF7F5;
    -webkit-box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
    box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
    max-height: 20rem;
    position: relative;
    z-index: 2;
    text-shadow: 1px 2px #fff, 0 0 1em #a1fac5, 0 0 0.2em #669768;
    overflow: scroll;
}
.fs-search-result-column {
    width: 100%;
    border-right: black !important;
}
.h4_product {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 26px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 27px;
}
.h4_prod {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 18px;
}
.h4_category {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 26px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 27px;
}
.h4_cat {
    display: block;
    /* margin-block-start: 0.33em; */
    /* margin-block-end: 1.33em; */
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 18px;
}
.fs-search-result-column-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li-prod{
    width: 100%;
    /* height: 4.6rem; */
    padding-left: 10px;
    /* padding-right: 1.6rem; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1.1em;
}
.fs-search-result-column-list-el {
    width: 100%;
    /* height: 4.6rem; */
    padding-left: 1.6em;
    /* padding-right: 1.6rem; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 1.1em;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.fs-search-result-column-list-el a {
    text-decoration: none !important;
    color: #4A4640;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.orders_header{
    text-align: center;
    font-size: 1.5em;
}
.order_items_table > thead > tr > th{
    text-align: center;
}
.order_items_table > tbody > tr > td {
    text-align: center;
}

/* search form css */
.for-search form {

    width: 40px;
    height: 45px;
    position: relative;
    margin-left: 15px;
}

#submit {
    display: none;
}

.for-search form .icon, form .submit {
    width: 35px;
    height: 35px;
    background: #4e73df;
    display: block;
    margin: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.for-search form .icon:hover, form .submit:hover {
    background: #264ac9;
    opacity: 1;
}

.for-search form .submit {
    background: #264ac9;
    cursor: pointer;
}

.for-search form .icon:after, form .submit:after  {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 50%;
    left: 10px;
    top: 9px;
}

.for-search form .icon:before, form .submit:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 2px;
    background: white;
    transform: rotate(-35deg);
    top: 19px;
    left: 21px;
}

.for-search form #search {
    background-color: #EBF7E9;
    -webkit-appearance: none;
    height: 35px;
    width: 360px !important;
    position: absolute;
    padding: 0;
    opacity: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 15px;
    left: 25px;

}
.productContent{
    display:flex;
    flex-wrap:wrap;
    padding:9px;
}
.imgBlock{
    width: 120px;
    position:relative;
    overflow:hidden;
}
.imgBlock > img{
    display: block;
    margin: auto;
    transition: 1s;
    height: 130px;
    width: 100%;
}
.imgBlock > img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.block{
    margin:10px 5px;
}
.imgName{
    text-align: center;
    font-size: 1.1em;
}
/*.view{*/
/*    position:relative;*/
/*}*/
/*.index{*/
/*    position:relative;*/
/*}*/
.imgBlock:hover .tags {
    /*display: block;*/
    opacity: 0.6;
}

.tags {
    left: 29px;
    top: 35px;
    opacity: 0;
    transition: 0.6s;
    /*display: none;*/
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.tag > a{
    color: white;
    text-decoration: none;
}
@media only screen and (min-width:279px) {
    .prodSearch{
        width: 100% !important;
        height: 26px!important;
        margin: 24px auto !important;
        font-size: 7px !important;
        padding: 0px 0px !important;
    }
    .imgBlock{
        height: 200px;
        width: 234px !important;
        position:relative;
        overflow:hidden;
    }
    .imgBlock > img{
        display: block;
        margin: auto;
        transition: 1s;
        height: 200px;
        width: 100%;
    }
    .tags {
        left: 70px;
        top: 60px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 20px;
        border-radius: 5px;
    }
}
@media only screen and (min-width:358px) and (max-width: 360px) {
    .prodSearch{
        width: 70% !important;
        height: 26px!important;
        margin: 24px auto !important;
        font-size: 9px !important;
        padding: 6px 0px !important;
    }
    .imgBlock{
        height: 160px;
        width: 152px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 45px;
        top: 50px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 376px) {
    .prodSearch{
        width: 50% !important;
        height: 30px !important;
        margin: 22px auto !important;
        font-size: 8px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height:140px !important;
        width: 103px !important;
        position:relative;
        overflow:hidden;
    }
    .imgName{
        text-align: center;
        font-size: 0.8em;
    }
    .tags {
        left: 20px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
@media only screen and (min-width:376px) and (max-width: 391px) {
    .prodSearch{
        width: 70% !important;
        height: 30px!important;
        margin: 22px auto !important;
        font-size: 10px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 106px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
@media only screen and (min-width:393px) and (max-width: 394px) {
    .prodSearch{
        width: 70% !important;
        height: 30px!important;
        margin: 22px auto !important;
        font-size: 10px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 107px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
@media only screen and (min-width:395px) and (max-width: 411px) {
    .prodSearch{
        width: 70% !important;
        height: 30px!important;
        margin: 22px auto !important;
        font-size: 10px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        width: 116px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
}
@media only screen and (min-width:412px) and (max-width: 415px) {
    .prodSearch{
        width: 70% !important;
        height: 30px!important;
        margin: 22px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 115px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
}
@media only screen and (min-width:540px) and (max-width: 767px) {
    .prodSearch{
        width: 40% !important;
        height: 30px!important;
        margin: 22px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 116px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
}
@media only screen and (min-width:768px) and (max-width: 818px) {
    .prodSearch{
        width: 25% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 110px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}
@media only screen and (min-width:819px) and (max-width: 890px) {
    .prodSearch{
        width: 25% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 110px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 25px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}
@media only screen and (min-width:1023px) and (max-width: 1200px) {
    .prodSearch{
        width: 25% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 120px !important;
        width: 120px !important;
        position:relative;
        overflow:hidden;
    }
    .imgBlock > img{
        display: block;
        margin: auto;
        transition: 1s;
        height: 120px;
        width: 100%;
    }
    .tags {
        left: 28px;
        top: 34px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}
@media only screen and (min-width:912px) and (max-width: 1022px) {
    .prodSearch{
        width: 25% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 140px !important;
        width: 110px !important;
        position:relative;
        overflow:hidden;
    }
    .tags {
        left: 22px;
        top: 39px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}
@media only screen and (min-width:1280px) and (max-width: 1390px) {
    .prodSearch{
        width: 25% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 120px !important;
        width: 120px !important;
        position:relative;
        overflow:hidden;
    }
    .imgBlock > img{
        display: block;
        margin: auto;
        transition: 1s;
        height: 120px;
        width: 100%;
    }
    .tags {
        left: 28px;
        top: 34px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}
@media only screen and (min-width:1391px) and (max-width: 1600px) {
    .prodSearch{
        width: 15% !important;
        height: 30px!important;
        margin: 8px auto !important;
        font-size: 12px !important;
        padding: 2px 0px !important;
    }
    .imgBlock{
        height: 120px !important;
        width: 120px !important;
        position:relative;
        overflow:hidden;
    }
    .imgBlock > img{
        display: block;
        margin: auto;
        transition: 1s;
        height: 120px;
        width: 100%;
    }
    .tags {
        left: 28px;
        top: 34px;
        opacity: 0;
        transition: 0.6s;
        /*display: none;*/
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .imgName{
        text-align: center;
        font-size: 0.9em;
    }
    .navbar-search{
        width:60% !important;
    }
    .inputval{
        width: 60% !important;
    }
}